.accordeon
    .accordeon_logo
        a(href="#").accordeon_link
            img(src="/img/logo.png" alt="logo").accordeon_img
    ul.main_list
        li.main_item
            a(href="#" my-attr="1").main_link.link-first Основы языка и как на нём говорить правильно
            ul.list.active
                li.item Лексическая структура
                li.item Типы данных, значения и переменные
                li.item Выражения и операторы инструкции
        li.main_item
            a(href="#" my-attr="1").main_link.link-second Функции
            ul.list
                li.item Лексическая структура
                li.item Типы данных, значения и переменные
                li.item Выражения и операторы инструкции
        li.main_item
            a(href="#" my-attr="1").main_link.link-first Обработка ошибок и отладка
            ul.list
                li.item Лексическая структура
                li.item Типы данных, значения и переменные
                li.item Выражения и операторы инструкции
        li.main_item
            a(href="#" my-attr="1").main_link.link-second Объекты и массивы
            ul.list
                li.item Лексическая структура
                li.item Типы данных, значения и переменные
                li.item Выражения и операторы инструкции


